<ion-header>
  <ion-toolbar>
    <ion-title color="warning">
      Loja Wbr<ion-icon name="bag-handle-outline" color="warning" ></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Loja<ion-icon name="bag-handle-outline"></ion-icon> </ion-title>
    </ion-toolbar>
  </ion-header>
<!--
 <app-explore-container name="aba 1 teste 1"></app-explore-container>
-->
  <!--PRODUTO 1-->
  <ion-card>
    <img src="/assets/imgloja/kitlegoev3.png" alt="Produto 1">
  <ion-card-header>
    <ion-card-title>Kit Lego Ev3</ion-card-title>
    <ion-card-title>Novo</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Informações Sobre o Produto: O kit LEGO EV3 é frequentemente usado em escolas e clubes de robótica para ensinar conceitos de engenharia, física e programação.
  </ion-card-content>

  <ion-button expand="block" fill="solid" color="warning">Comprar!</ion-button>

  </ion-card>

  <!--PRODUTO 2-->

   <ion-card>
    <img src="/assets/imgloja/spikeprime.png" alt="Produto 2">
  <ion-card-header>
    <ion-card-title>Kit Spike Prime</ion-card-title>
    <ion-card-title>Novo</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Informações Sobre o Produto: O Spike Prime é programado através de um software baseado em Scratch, que oferece uma interface intuitiva e fácil de usar para a criação de programas. 
  </ion-card-content>

  <ion-button expand="block" fill="solid" color="warning">Comprar!</ion-button>

  </ion-card>
  
  <!--PRODUTO 3-->

  <ion-card>
    <img src="assets/imgloja/kitexpansaolegoev3.png" alt="produto 3">
  <ion-card-header>
    <ion-card-title>Kit Ev3 Expansão</ion-card-title>
    <ion-card-title>Novo</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Informações Sobre o Produto: O kit EV3 Expansão é uma adição ao kit básico, que inclui um conjunto adicional de sensores e motores para expandir as capacidades do robô. 
  </ion-card-content>

  <ion-button expand="block" fill="solid" color="warning">Comprar!</ion-button>

  </ion-card>

  <!--PRODUTO 4-->

  <ion-card>
    <img src="assets/imgloja/arduinoloja.png" alt="Produto 4">
    <ion-card-header>
      <ion-card-title>Kit Car Arduino</ion-card-title>
      <ion-card-title>Novo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Informações Sobre o Produto: O kit vem com um tutorial cd, que contém tutoriais de montagem detalhada, códigos, bibliotecas e cursos.
    </ion-card-content>
    <ion-button expand="block" fill="solid" color="warning">Comprar!</ion-button>
  </ion-card>

</ion-content>
